@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

.container-parallax {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-around;
  position: relative;
  width: 100%;
}
.container-parallax section {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #000;
}

section.mission{
    height: 40vh;
}
section.why-emojii{
    height: 55vh;
}
.container-parallax section:nth-child(1) .image {
    background-color: #2081af
}
.container-parallax section:nth-child(2) .image {
  background-image: url(https://cdn.pixabay.com/photo/2016/11/14/03/07/asia-1822460_960_720.jpg);
}
.container-parallax section:nth-child(3) .image {
  background-image: url(https://images.pexels.com/photos/886464/pexels-photo-886464.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
}
.container-parallax section:nth-child(4) .image {
  background-image: url(https://images.unsplash.com/photo-1461080639469-66d73688fb21?iq=100&fm=jpg&w=1000);
}
.container-parallax section:nth-child(5) .image {
  background-image: url(https://images.unsplash.com/photo-1460804198264-011ca89eaa43?iq=100&fm=jpg&w=1000);
}
.container-parallax section:nth-child(6) .image {
  background-image: url(https://images.unsplash.com/photo-1463123081488-789f998ac9c4?iq=100&fm=jpg&w=1000);
}
.whyemojii .image {
    background-image: url(https://images.pexels.com/photos/339620/pexels-photo-339620.jpeg?auto=compress&cs=tinysrgb&h=1250&w=1660);
  }
.container-parallax section .image {
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 500;
  opacity: 0.4;
}
.container-body{
    margin-top: 10px;
    font-size: 27px;
    color: white;
    font-weight: 200;
}
#about-image{
    opacity: 1;
}

.container-parallax section .stuff {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  max-width: 70%;
  justify-content: center;
  text-align: center;
  z-index: 1000;
  margin: 0 auto;
  font-size: 26px;
  position: relative;
}
.container-parallax section .stuff h2 {
  margin: 0px;
}
.container-parallax section .stuff:before, .container-parallax section .stuff:after {
  width: 100%;

}

.at-twitter {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #f1c40f;
  z-index: 5000;
}
.at-twitter:visited {
  color: #f1c40f;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  color: inherit;
  text-decoration: underline;
}

.container-header{
    color: #fff
}
h2.container-header{
    font-size: 52px;
    line-height: 52px;
    font-weight: 600;
}
.why-emojii-text{
    color:white;
    margin-top: 40px;
    font-size: 28px;
}